.container {
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(191, 45, 253, 1) 100%) !important;
    height: 100%;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.middle-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.welcome-text {
    color: white;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}