<h2>Invoice Details</h2>
<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <mat-form-field appearance="fill" class="input-field">
            <mat-label>Store name</mat-label>
            <input matInput placeholder="Enter store name">
        </mat-form-field></mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field appearance="fill" class="input-field">
            <mat-label>Date</mat-label>
            <input matInput type="date">
        </mat-form-field></mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field appearance="fill" class="input-field">
            <mat-label>Customer Name</mat-label>
            <input matInput placeholder="Enter customer name">
        </mat-form-field></mat-grid-tile>
</mat-grid-list>

<h3>Items</h3>
<button mat-button aria-label="AddItem" (click)="addInvoiceItem()" id="addButton">
    <mat-icon class="add-item-label">add_shopping_cart</mat-icon>
    <mat-label class="add-item-label">Add item</mat-label>
</button>
<mat-expansion-panel class="items-container">
    <mat-expansion-panel-header>
        <mat-panel-title> Added items: {{getInvoiceItemsCount()}} </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="scrollable-container">
        @for(invoiceItem of invoiceItems; track invoiceItem.id) {
        <div class="item-row">
            <mat-form-field appearance="fill" class="input-field">
                <mat-label>Item #{{invoiceItem.id}} name</mat-label>
                <input matInput placeholder="Enter item name">
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-field">
                <mat-label>Item #{{invoiceItem.id}} price</mat-label>
                <input matInput type="number" min="1" placeholder="Enter item price">
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-field">
                <mat-label>Item #{{invoiceItem.id}} quantity</mat-label>
                <input matInput type="number" min="1" placeholder="Enter item quantity">
            </mat-form-field>
            <button mat-icon-button aria-label="Delete" id="deleteButton" (click)="deleteInvoiceItem(invoiceItem.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        }
    </div>
</mat-expansion-panel>

<div class="buttons">
    <button mat-raised-button color="primary" aria-label="Save">
        <mat-icon class="add-item-label">save</mat-icon>
        <mat-label class="add-item-label">Save</mat-label>
    </button>
    <button mat-raised-button color="primary" aria-label="Save" (click)="openShareDialog()">
        <mat-icon class="add-item-label">emoji_people</mat-icon>
        <mat-label class="add-item-label">Share with a friend</mat-label>
    </button>
</div>