<div class="share-dialog">
    <h2 mat-dialog-title>Share with friends</h2>
    <mat-dialog-content>
        @for(friend of friends;track friend.id) {
        <div>
            <mat-checkbox [checked]="isSelected(friend.id)" (change)="toggle(friend.id, $event.checked)">
                <img class="friend-avatar" [src]="friend.profilePicture" alt="{{friend.username}}">
                <div class="friend-info">
                    <div class="friend-name">{{friend.name}}</div>
                    <div class="friend-tag">{{friend.username}}</div>
                </div>
            </mat-checkbox>
        </div>
        }
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="done()">Done</button>
    </mat-dialog-actions>
</div>