<div>
    <h2 mat-dialog-title>Share with friends</h2>
    <mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Enter friend's name..</mat-label>
            <input matInput type="text" placeholder="Enter friend's name" #friendName>
            @if (friendName.value) {
            <button matSuffix matIconButton aria-label="Clear" (click)="friendName.value=''">
                <mat-icon>close</mat-icon>
            </button>
            }
        </mat-form-field>
        @for(friend of friends;track friend.id) {
        <div>
            <mat-checkbox [checked]="isSelected(friend.id)" (change)="toggle(friend.id, $event.checked)">
                <img class="friend-avatar" [src]="friend.profilePicture" alt="{{friend.username}}">
                <div class="friend-info">
                    <div class="friend-name">{{friend.name}}</div>
                    <div class="friend-tag">{{friend.username}}</div>
                </div>
            </mat-checkbox>
        </div>
        }
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="done()">Done</button>
    </mat-dialog-actions>
</div>